
* {
  box-sizing: border-box;
}

.primary-content {
  border-top: 10px solid #dfe2e6;
  border-bottom: 2px solid #dfe2e6;
  
}

  .title {
  font-size: 2.5em;
  font-style: bold;
  color:#401d5f; 
    font-family:"Rainy Wind";
    margin: 0 0 15px 730px

}

ul {
  font-size: 1.2em;
  font-style: italic;
  font-weigt: 
   ;
  

}

  .body {
  font-size: .5em;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #878787;
  margin: 0 0 0 10px;
  
    background-color: #006699;
 background: linear-gradient(#ffccff, #663366, transparent 200%);
}

h1 { 
  font-size: 2rem;
}

  h2 {
   font-size: 1.9rem;
    color: almostblack;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 15px 45px;
    text-decoration:underline;

}

   p {
      font-size: 1.4em;
      font-weight: normal;
      line-height: 1.1;
      margin: 0 0 35px 50px;

}

a:link {
  text-decoration: bold;
  font-size: 20px;
  color: #4e256b;
  
  padding: 0 9px 3px 9px;
  display: inline-block;
  
}

}
/*Nav section*/
nav a:link {
  color: #401d5f;
  text-decoration: underline;
}

nav a:visited {
  
  color: #6ec1b0;
}
nav a:focus {
  background: #5299bc;
}

nav a:hover {
  color: #b8e5c6;
}

 nav a:active: {
  background: #D4A29B;
 }
