



  


}

.primary-content {

  border-top: 5px solid black;
 
  background-color: white;

 
}

  .title {
  font-size: 3em;
  font-style: bold;
  color:black; 
  font-family: 'lobster', serif;
    margin: auto;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0,0,0, .9);

}

ul li {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: darkgrey;
  text-align: left;
 



  

}

  .body {
  font-size: .5em;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #878787;
  margin: 0 0 0 10px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;

}
body {
   background: url("../img/symphony.png");

}

html {
  margin-bottom: 0 auto ;
    border-top: 3px solid #05060B;
  border-bottom: 3px solid #05060B;
}
}

h1 { 
  font-size: 1rem;
  margin: 15px 0 0 25px;
  text-align: center;
}

  h2 {
   font-size: 1.9rem;
    color: almostblack;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 15px 45px;
    text-decoration:underline;


}

   p {
      font-size: 1.4em;
      font-weight: normal;
      line-height: 1.1;
      margin: 0 0 35px 50px;
      color: black;

}




/*Nav section*/
nav a:link {
  color: #C1AFEB;
  text-decoration: underline;
}

nav a:visited {
  
  color: #C1AFEB;
}
nav a:focus {
  background: #5299bc;
}

nav a:hover {
  color: #b8e5c6;
}

 nav a:active: {
  background: #D4A29B;
 }

nav li {
display: inline-block;
margin: 20px 0 0 50px;


}

a:link {
  text-decoration: bold;
  font-size: 20px;
  color: #4e256b;
  
  padding: 0 9px 3px 9px;
  display: inline-block;
  text-align: right;
  
}

@media {
  
}
